.darkBG {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  width: 45vw;
  height: 35vw;
  background: var(--ZELDABEIGE);
  color: rgb(234, 241, 250);
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modal2 {
  width: 30vw;
  height: 20vw;
  background: rgb(234, 241, 250);
  color: rgb(234, 241, 250);
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.4);
}

.modalHeader {
  height: 50px;
  background: var(--ZELDAGREEN);
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.stndrdInputs{
  display: flex;
  height: 60%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rightAlign{
  display: flex;
  justify-content: center;
}

.heading {
  margin: 0;
  padding: 10px;
  color: #142536;
  font-weight: 700;
  font-size: 2vw;
  text-align: center;
}

.modalContent {
  padding: 10px;
  font-size: 14px;
  color: #2c3e50;
  text-align: center;
  height: 90%;
}

.modalForm{
  display: flex;
  height: 80%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.productInput{
  margin-top: 5%;
}

.modalActions {
  position: absolute;
  bottom: 2px;
  margin-bottom: 10px;
  width: 100%;
}

.actionsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.closeBtn:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  transform: translate(-4px, 4px);
}

.deleteBtn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: #fff;
  background: #ff3e4e;
  transition: all 0.25s ease;
}

.deleteBtn:hover {
  box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.6);
  transform: translateY(-5px);
  background: #ff3e4e;
}

.cancelBtn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: #2c3e50;
  background: #f4f4f4;
  transition: all 0.25s ease;
}

.cancelBtn:hover {
  box-shadow: none;
  transform: none;
  color: lightgrey;
  background: darkgrey;
}

label{
  font-size: 1.4vw;
  font-weight: 600;
  margin-top: 3%;
}

modal-preview-image{
  height: 100px;
  width: 100px;
}
