::-webkit-scrollbar {
    display: none;
}
* {    
    margin: 0;
    padding: 0;
}
.app{
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    scrollbar-width: none; // for firefox
    overflow: scroll;
    background-color: var(--ethblack);
    margin: 0;
}