* {
    /* ACCENT COLORS */
    

    /* MAIN colors */
    --ZELDAGREEN: #83b898;
    --ZELDABEIGE: #e6dec0;
    --black: rgb(34,34,34);
    --gray: rgb(46, 46, 46);
    font-family: 'Anek Latin', sans-serif;
}

@font-face {
    font-family: 'Anek_Latin';
    src: local('Anek_Latin'), url(https://fonts.googleapis.com/css2?family=Anek+Latin&display=swap) format('truetype');
}
